// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #F4F4F4 !important;

}

.container.header {
  background: #F4F4F4;
  padding-bottom: 0px !important;
}

.header-img{
  background:#F4F4F4;
  color: #F4F4F4;
  padding-left:0px !important;
  padding-right:0px !important;
  padding-bottom: 0px !important;
  img{
  width: 140px !important;
  height: 75px;
  background:#F4F4F4;
  color: #F4F4F4;
 }
}

.first-p{
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 0px !important;
  font-size: 16px !important;
  & > table > tbody > tr > th > p{
    margin-bottom: 0px !important;
  }

}

.first-p-one{
margin-bottom: 2px !important;
font-size: 16px !important;
}


.order-row{
padding-bottom: 0px !important;

}

.order{
  background: #F2F5F8;
  color: #F2F5F8;
}


.order-number{
  padding-left: 15px !important;
}

.order-date{
  padding-left: 65px !important;
}

.break-line{
color: $offwhite !important;
background: $offwhite !important;
margin-top: 0px;
margin-bottom: 0px;
border-left-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-top-width: 0px;
height: 1px;


}

.item-title{
margin-top: 10px !important;
}

.price{
margin-bottom: 0px !important;
}

.tracking-info{
color: #850000;
}

.tracking-num{
text-decoration: underline;
}

.small-info{
color: #677889 !important;
}

.img-one{
  display: block;
  width: 156px;
  height: 177px;
  margin-left: 115px !important;
  margin-right: 0px !important;
  margin-top: 40px !important;
}

.address-info{
  color: $black;
  padding-left: 15px !important;
}


.footer-top-background{
padding-bottom: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
}

.footer-top{
  color: #C6D3D9;
  background:#C6D3D9;
  height: 270px;
}

.header{
 & > table > tbody > tr > th > h3{
  margin-top: 15px !important;
 }
}

.text-center{
 margin-bottom: 20px !important; 

}

.icons{
  width: 36px;
  height: 36.5px;
  margin-right: 0px;
  margin-left: 65px;
  padding-left: 75px !important;
}

.links{
text-decoration: underline;
font-size: 14px;
width: 210px !important;
hyphens: none;
text-align: left;
margin-bottom: 0px !important;
}

.right-space{
 width: 50px !important;
}


.footer-bottom-background{
  padding-left: 0px !important;
  padding-right: 0px !important;


}
.footer-bottom{
  color: #C6D3D9;
  background:#C6D3D9;
  height: 370px;
}

.arrow{
 width: 15px;
 height: 15px;

}

.underline-footerfont{
  font-size: 16px !important;
  text-decoration: underline;
  color: $black !important;

}


.footer-rows-left{
padding-left: 20px !important;
padding-top: 20px !important;
}

.footer-rows-right{
padding-left: 250px !important;
padding-top: 20px;
}

.icons{
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  img{
    width: 32px;
    height: 32px;
  }
}

.menu-item{
padding-right: 70px !important;
padding-bottom: 0px !important;
}

.youtube-img{
width: 39px !important;
height: 27px !important;
padding-bottom: 0px !important;
}

