<container>
	<row>
   <columns class="footer-top-background">
     <spacer size="20"></spacer>
       
 <row class="footer-top">
   <columns class="header">
    <spacer size="20"></spacer>
     <h3 class="text-center">We’re here for you, 24/7.</h3>

 <!--icons-links-start-->
   <row>
     <columns>
     <a href="#"><img class="icons" src="{{root}}/assets/img/colehaan_files/envelope.png"><a>
    </columns>
     
    <columns class="right-link" valign="middle">
    <p class="links">customerservice@colehaan.com</p>
    </columns>

   <columns class="right-space">
   </columns>
  </row>
  <!--icons-links-end-->

   <!--icons-links-start-->
   <row>
     <columns>
    <a href="#"><img class="icons" src="{{root}}/assets/img/colehaan_files/telephone.png"><a>
    </columns>
     
    <columns class="right-link" valign="middle">
    <p class="links">+1-800-695-8945</p>
    </columns>

   <columns class="right-space">
   </columns>
  </row>
  <!--icons-links-end-->

   <!--icons-links-start-->
   <row>
     <columns>
    <a href="#"><img class="icons" src="{{root}}/assets/img/colehaan_files/return_arrow.png"><a>
    </columns>
     
    <columns class="right-link" valign="middle">
    <p class="links">Need to return or exchange?
View our policy.</p>
    </columns>

   <columns class="right-space">
   </columns>
  </row>
  <!--icons-links-end-->

 </columns>
</row>


  </columns>
 </row>



<!--footer-bottom-->
 <row>
   <columns class="footer-bottom-background">
     <spacer size="10"></spacer>
       
  <row class="footer-bottom">
   <columns>

<!--row-one-->
   <row>
   <columns class="footer-rows-left">
  <a href="#"><h6 class="underline-footerfont">Mens</h6><a>
   </columns>

  <columns class="footer-rows-right">
    <a href="#"><img class="arrow" src="{{root}}/assets/img/colehaan_files/arrow.png"><a>
  </columns>
  </row>
<!--row-one-end-->

<!--row-two-->
   <row>
   <columns class="footer-rows-left">
  <a href="#"><h6 class="underline-footerfont">Womens</h6><a></columns>

  <columns class="footer-rows-right">
    <a href="#"><img class="arrow" src="{{root}}/assets/img/colehaan_files/arrow.png"><a></columns>
  </row>
<!--row-two-end-->

<!--row-three-->
   <row>
   <columns class="footer-rows-left">
  <a href="#"><h6 class="underline-footerfont">Sale</h6><a>
   </columns>

  <columns class="footer-rows-right">
    <a href="#"><img class="arrow" src="{{root}}/assets/img/colehaan_files/arrow.png"><a>
  </columns>
  </row>
<!--row-three-end-->


<!--icons-->
  <row>
  <columns class="icons">
 <center>
  <menu class="icons-row">
    <item href="#"><img src="{{root}}/assets/img/colehaan_files/instagram.png"></item>
    <item href="#"><img src="{{root}}/assets/img/colehaan_files/facebook.png"></item>
    <item href="#"><img class="youtube-img"src="{{root}}/assets/img/colehaan_files/youtube.png"></item>
  </menu>
</center>
  </columns>  
  </row>
  <!--icons-end-->

  </columns>
 </row>
  <!--footer-bottom-end-->
  


  </columns>
 </row>

 <!--footer-bottom-end-->

</container>