<container>
	<row>
   <columns small="12" class="footer-top-background">
     <spacer size="20"></spacer>
       
 <row class="footer-top">
   <columns>
    <spacer size="20"></spacer>
     <h3 class="text-center">We’re here for you, 24/7.</h3>

 <!--icons-links-start-->
   <row>
     <columns small="4" large="4">
     <a href="#"><img class="icons" src="https://i.imgur.com/pgsfanp.png"><a>
    </columns>
     
    <columns small="6" large="4" class="right-link" valign="middle">
    <p class="links">customerservice@colehaan.com</p>
    </columns>

   <columns small="2" large="4" class="right-space">
   </columns>
  </row>
  <!--icons-links-end-->

   <!--icons-links-start-->
   <row>
     <columns small="4" large="4" >
    <a href="#"><img class="icons" src="https://i.imgur.com/RtWug4u.png"><a>
    </columns>
     
    <columns small="6" large="4"  class="right-link" valign="middle">
    <p class="links">+1-800-695-8945</p>
    </columns>

   <columns small="2" large="4" class="right-space">
   </columns>
  </row>
  <!--icons-links-end-->

   <!--icons-links-start-->
   <row>
     <columns small="4" large="4">
    <a href="#"><img class="icons" src="https://i.imgur.com/nKpYxGU.png"><a>
    </columns>
     
    <columns small="6" large="4" class="right-link" valign="middle">
    <p class="links">Need to return or exchange?
View our policy.</p>
    </columns>

   <columns small="2" large="4" class="right-space">
   </columns>
  </row>
  <!--icons-links-end-->

 </columns>
</row>


  </columns>
 </row>



<!--footer-bottom-->
 <row>
   <columns class="footer-bottom-background">
     <spacer size="10"></spacer>
       
  <row class="footer-bottom">
   <columns>

<!--row-one-->
   <row>
   <columns small="6" large="6" class="footer-rows-left">
  <a href="#"><h6 class="underline-footerfont">Mens</h6><a>
   </columns>

  <columns small="6" large="6" class="footer-rows-right">
    <a href="#"><img class="arrow" src="https://i.imgur.com/Ep2CAkK.png"><a>
  </columns>
  </row>
<!--row-one-end-->

<!--row-two-->
   <row>
   <columns small="6" large="6" class="footer-rows-left">
  <a href="#"><h6 class="underline-footerfont">Womens</h6><a></columns>

  <columns small="6" large="6" class="footer-rows-right">
    <a href="#"><img class="arrow" src="https://i.imgur.com/Ep2CAkK.png"><a></columns>
  </row>
<!--row-two-end-->

<!--row-three-->
   <row>
   <columns small="6" large="6" class="footer-rows-left">
  <a href="#"><h6 class="underline-footerfont">Sale</h6><a>
   </columns>

  <columns small="6" large="6" class="footer-rows-right">
    <a href="#"><img class="arrow" src="https://i.imgur.com/Ep2CAkK.png"><a>
  </columns>
  </row>
<!--row-three-end-->


<!--icons-->
  <row>
  <columns small="18" class="icons">
 <center>
  <menu class="icons-row">
    <item href="#"><img src="https://i.imgur.com/a0SBuvs.png"></item>
    <!--ig icon-->

    <item href="#"><img src="https://i.imgur.com/790rjZI.png"></item> 
    <!--fb icon-->

    <item href="#"><img class="youtube-img"src="https://i.imgur.com/68bgeH0.png"></item> <!--youtube icon-->
  </menu>
</center>
  </columns>  
  </row>
  <!--icons-end-->

<!--footer-font-->
  <spacer size="40"></spacer>
<row>
  <columns small="4"></columns>
  <columns small="4">
  <p class="privacy">Privacy<p>
  </columns>
  <columns small="4"></columns>
</row>   

<row>
  <columns small="4"></columns>
  <columns small="4" class="colehaan">
   <p class="colehaan-top">&#169; 2019 Cole Haan<p>
    <h6 class="address-mid">45 WEST 18TH STREET, 3RD FLOOR</h6>
    <h6 class="address-bottom">NEW YORK, NY 10011</h6>
    <spacer size="20"></spacer>
  </columns>
  <columns small="4"></columns>
</row>

  </columns>
 </row>
  <!--footer-bottom-end-->

  </columns>
 </row>
</container>